body {
  background-image: url(bg.jpg);
}

#left {
  background-color: rgba(228, 226, 226, 0.1);;
  height: auto;
  float: right;
  margin-top: 3em;
  margin-right: 6em;
}

h2 {
  text-align: center;
  margin-bottom: 1em;
  margin-top: -2em;
}
